{% extends "base.html.twig" %}

{% block body %}

    <div class="d-flex justify-content-center">
        <h1>Gérer les sites</h1>
    </div>

    <div class="d-flex">
        <h4>Filtrer les sites</h4>
    </div>

    <div class="d-flex justify-content">
        <div class="form-group col-6">
            <label for="fld-name">Le nom contient :</label>
            <p class="form-control" id="nom">{{ "" }}</p>
        </div>
        <div>
            <button class="btn btn-primary" >
                <a style="color: white">Rechercher</a>
            </button>
        </div>
    </div>
    <div class="mt-5 overflow-auto text-left" style="height: 300px;">
        <table class="table table-hover">
            <thead>
            <tr class="table-active">
                <th scope="col">Ville</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr class="table-light">
                    <th>{{ site.nom }}</th>
                    <th>Modifier - Supprimer</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary" >
        <a href="{{ path('home_home') }}" style="color: white">Ajouter</a>
    </button>


{% endblock%}