{% extends "base.html.twig" %}

{% block title %}404{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <h1>Page non trouvée</h1>
    </div>
    <div class="d-flex justify-content-center">
        <p>La page que vous cherchez n'a pas été trouvée</p>
    </div>
{% endblock %}
